*
{
    box-sizing:border-box
}

html
{
    background:#F4F4F4
}

body
{
    font-size:large;
    padding:1em
}

body,input,textarea
{
    color:#797B7B;
    font-family:"Helvetica-Neue",Helvetica,sans-serif
}

input,textarea
{
    width:100%
}

input[type=submit]
{
    width:auto
}

h1
{
    font-family:'Bangers',cursive;
    margin-top:0
}

.form-item
{
    margin-bottom:1em
}

.topcoat-text-input,.topcoat-text-input--large
{
    line-height:1.313rem;
    font-size:12px;
    letter-spacing:0;
    padding:0 .563rem;
    border:1px solid #9daca9;
    border-radius:4px;
    background-color:#fff;
    box-shadow:inset 0 1px rgba(0,0,0,0.1);
    color:#454545;
    vertical-align:top
}

.topcoat-text-input:focus,.topcoat-text-input--large:focus
{
    background-color:#fff;
    color:#454545;
    border:1px solid #0036ff;
    box-shadow:0 0 0 2px #6fb5f1
}

.topcoat-text-input:disabled::-webkit-input-placeholder
{
    color:#454545
}

.topcoat-text-input:disabled::-moz-placeholder
{
    color:#454545
}

.topcoat-text-input:disabled:-ms-input-placeholder
{
    color:#454545
}

.topcoat-text-input:invalid
{
    border:1px solid #ec514e
}

.topcoat-text-input--large
{
    line-height:1.688rem;
    font-size:.875rem
}

.topcoat-text-input--large:disabled
{
    color:#454545
}

.topcoat-text-input--large:disabled::-webkit-input-placeholder
{
    color:#454545
}

.topcoat-text-input--large:disabled::-moz-placeholder
{
    color:#454545
}

.topcoat-text-input--large:disabled:-ms-input-placeholder
{
    color:#454545
}

.topcoat-text-input--large:invalid
{
    border:1px solid #ec514e
}

.topcoat-textarea,.topcoat-textarea--large
{
    padding:1rem;
    font-size:1rem;
    font-weight:400;
    border-radius:4px;
    line-height:1.313rem;
    border:1px solid #9daca9;
    background-color:#fff;
    box-shadow:inset 0 1px rgba(0,0,0,0.1);
    color:#454545;
    letter-spacing:0
}

.topcoat-textarea:focus,.topcoat-textarea--large:focus
{
    background-color:#fff;
    color:#454545;
    border:1px solid #0036ff;
    box-shadow:0 0 0 2px #6fb5f1
}

.topcoat-textarea:disabled::-webkit-input-placeholder
{
    color:#454545
}

.topcoat-textarea:disabled::-moz-placeholder
{
    color:#454545
}

.topcoat-textarea:disabled:-ms-input-placeholder
{
    color:#454545
}

.topcoat-button,.topcoat-button--quiet,.topcoat-button--large,.topcoat-button--large--quiet,.topcoat-button--cta,.topcoat-button--large--cta
{
    padding:0 .563rem;
    font-size:12px;
    line-height:1.313rem;
    letter-spacing:0;
    color:#454545;
    text-shadow:0 1px #fff;
    vertical-align:top;
    background-color:#e5e9e8;
    box-shadow:inset 0 1px #fff;
    border:1px solid #9daca9;
    border-radius:4px
}

.topcoat-button:hover,.topcoat-button--quiet:hover,.topcoat-button--large:hover,.topcoat-button--large--quiet:hover
{
    background-color:#eff1f1
}

.topcoat-button:focus,.topcoat-button--quiet:focus,.topcoat-button--quiet:hover:focus,.topcoat-button--large:focus,.topcoat-button--large--quiet:focus,.topcoat-button--large--quiet:hover:focus,.topcoat-button--cta:focus,.topcoat-button--large--cta:focus
{
    border:1px solid #0036ff;
    box-shadow:inset 0 1px rgba(255,255,255,0.36),0 0 0 2px #6fb5f1;
    outline:0
}

.topcoat-button:active,.topcoat-button--large:active
{
    border:1px solid #9daca9;
    background-color:#d2d6d6;
    box-shadow:inset 0 1px rgba(0,0,0,0.1)
}

.topcoat-button--large,.topcoat-button--large--quiet
{
    font-size:.875rem;
    font-weight:600;
    line-height:1.688rem;
    padding:0 .875rem
}

.topcoat-button--large--cta
{
    font-size:.875rem;
    font-weight:600;
    line-height:1.688rem;
    padding:0 .875rem
}

.topcoat-button--cta,.topcoat-button--large--cta
{
    border:1px solid #134f7f;
    background-color:#288edf;
    box-shadow:inset 0 1px rgba(255,255,255,0.36);
    color:#fff;
    font-weight:500;
    text-shadow:0 -1px rgba(0,0,0,0.36)
}

.topcoat-button--cta:hover,.topcoat-button--large--cta:hover
{
    background-color:#4ca1e4
}

.topcoat-button--cta:active,.topcoat-button--large--cta:active
{
    background-color:#1e7dc8;
    box-shadow:inset 0 1px rgba(0,0,0,0.12)
}
